div#contenidor {
    border: 2px solid black;
    height: 300px;
    width: 908px;
    margin-top: 100px;
}

/*Lavjit Singh*/

div#esquerra {
    background-color: red;
    display: inline-block;
    height: 300px;
    width: 300px;


}

div#centre {
    background-color: green;
    display: inline-block;
    height: 300px;
    width: 300px;

}

div#dreta {
    background-color: blue;
    display: inline-block;
    height: 300px;
    width: 300px;
}